@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    background: black;
    color: white;
    margin: 0;
    overflow: hidden;
    font-family: 'Jersey 10', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.navbar {  

}

.navbar > img {
    width: 150px;
    height: auto;
    margin: 10px 0px 3px 5px;
}

.navbar > svg { 
    width: 45px;
    height: auto;
    color: white;
}
.clips-container {
    flex: 7;
    /* background: red; */
    overflow-y: auto;
    border: 1px solid red;
}

//--------------------
//  PREVIEW CONTAINER
//--------------------
.preview-container {
    flex: 3;
    background: blue;
}

.preview-window {
    background: rgba(128,128,128,0.8);
    padding: 70px;
    margin: 10px;
    border-radius: 10px;
}

.preview-window > p {
    font-size:70px;
}

.preview-export {
    margin-left: 10px;
}

.checkbox-row {
    display: flex;
    align-items: center;
}

.checkbox-row > p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

/* --------------------
   CLIPS CONTAINER
-------------------- */
.clips-import {
    display: flex;
    flex-direction: row;
    margin: 5px 0px 5px 5px;
    width: 1000px;
}

.import-buttons {
    display: flex;
    flex-direction: column;
    width: 100px;
}

/* all buttons*/
.buttons {
    height: 30px;
    width: 100px;
    font-family: 'Jersey 10', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    border: 1px solid white;
    margin-bottom: 5px;
    background: black;
    color: white;
    border-radius: 8px;
}

.checkbox {
    accent-color: blue;
    width: 20px;
    height: 20px;
}

.checkbox-row > span {
    font-weight: 500;
    font-size: 1.5rem
}

.clips-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.clip-wrapper {
    background: grey;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    margin: 4px;
}
.clip {
    width: 250px;
    height: 250px;
    object-fit: cover;
    background: grey;
    text-align: center;
    justify-content: center;
}